replicaCount: 1

image:
  repository: ghcr.io/mvs5465/cluster-lite-wiki
  tag: "latest"
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts: []
  tls: []

resources:
  requests:
    memory: "128Mi"
    cpu: "50m"
  limits:
    memory: "256Mi"
    cpu: "250m"

env:
  WIKI_SITE_NAME: "Cluster Lite Wiki"

persistence:
  enabled: true
  hostPath: ""
  mountPath: /data

nodeSelector: {}
tolerations: []
affinity: {}
